*{
    padding: 0;
    margin: 0;
}

body{
    background-color: darkslateblue;
}

h1{
    color: white;
    font-size: 6rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}


select{
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.containerTabla{
    
    border-radius: 10px;
    padding: 5rem 5rem 5rem 5rem;
    


}

.tabla{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border: white solid 2px;
    justify-content:space-around;
    text-align: center;
}


th, td{
    color: white;
    text-align: justify;
	padding: 15px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
    justify-content: center;
}

.BTN{

    margin-top: 1rem;
    flex-direction: row;
    flex-wrap: wrap 2px;
}

.Job{
    justify-content: center;
    text-align: center;
}
.btnJob{
    padding: 5px;
    border: white solid 4px;
    border-radius: 30%;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.formulario{
  margin-top: 50px;
  border: white solid 2px;
}
.formulary{
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    color: #fff;
    line-height: 40px;

}

label {
    color: rgb(255, 255, 255);
  }
  
  input {
    font-size: x-large;
  }
  
  select {
    font-size: 30px;
    cursor: pointer;
  }
  
  .hombre {
    color: #fff;
  }
  
  .mujer {
    color: #fff;
  }
  

  
  button {
    background-color: #500669;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(110, 60, 116, 0.5);
  }
  
  option {
    font-size: 20px;
    padding: 30px;
  }

  .inicio{
    margin-top: 20px;
    border-radius: 30%;
    color: white;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
